*.DS_Store
*.bak
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
__pycache__
c_test_programs_backup_Jan_8_2025_simulator_compiles.zip
c_test_programs_backup_Jan_9_2025_can_receive_bytes_through_serial_port.zip
.vscode
calibrate_glue_machine.md
glue_dispenser_comprehensive_positions.log
glue_machine.py.backup
glue_machine_calibration/cube_transformation_visualization.png
glue_machine_calibration/transformation_final.png
glue_machine_calibration/transformation_final_without_theoretical_points.png
glue_machine_calibration/transformation_visualization.png
glue_machine_calibration/transformation_visualization_without_theoretical_square.png
glue_machine_logs/
points_after_rotation.png
points_after_scaling.png
servomotor/M3.py.old
servomotor/M3.py.working
servomotor/communication.py.old
servomotor/communication.py.working
terminal-session-saver/
test_homing.py.old
test_homing.py.working
transformation_final.png
transformation_final_without_theoretical_points.png
transformation_step1.png
transformation_step2.png
transformation_step3.png
transformation_visualization.png
venv