*.bak
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.backup
*.backup1
*.backup2
*.backup3
*.backup4
*.backup5
*.backup6
*.backup7
*.backup8
*.backup9
*.ref
*.zip
*.unneeded
*.o
*.bin
runTest
test_emergency_stop
test_enable_disable_mosfets
test_get_temperature
test_move_with_acceleration
test_move_with_velocity
example_one_move
example_one_move_two_motors
test_unit_conversions
test_get_comprehensive_position
example_multi_move
test_multi_move
unneeded_files
.roo

