*.bak
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.bak10
*.bak11
*.bak12
*.bak13
*.bak14
*.bak15
servomotor_simulator.py
.saved_vscode_terminal_sessions
PyPi_distribution/dist/
PyPi_distribution/src/
