*.o
*backup*.zip
*.bak
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.backup
*.backup1
*.backup2
*.backup3
*.backup4
*.backup5
*.backup6
*.backup7
*.backup8
*.backup9
*.ref
*.zip
*.unneeded
*.o
*.bin
unneeded*
servo_simulator
c_crc32_results.txt
python_crc32_results.txt
test_crc32_c
servo_simulator.dSYM